{% extends "base_main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
  {% include "partials/backend/head.html" %}
{% endblock head %}
{% block title %} Repay Loan {% endblock %}
{% block content %}
    {% url 'user:dashboard' as dashboard_url %}
    {% with title_sub="Dashboard" title="Repay Loan" url=dashboard_url%}
    {% include "partials/backend/pagetitle.html" %}
    {% endwith %}

<!--begin::App-->
            {% include "partials/backend/messages.html" %}
            <div class="row">

                <div class="col-12">
                    <div class="card overflow-hidden position-relative z-1">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Recent Transactions</h5>
                        </div>
                        <div class="card-body p-5">
                            <p class="text-muted mb-4">Stay on track with your loan by making timely repayments. View your outstanding balance, due dates, and payment history. You can choose to pay monthly, make an early repayment, or settle in full. Ensure your account is funded before the due date to avoid late fees or penalties.</p>
                            <div class="table-box table-responsive">
                                <table class="table table-hover text-nowrap">
                                    <thead class="table-light border-0">
                                        <tr>
                                            <th>SN</th>
                                            <th>Transaction Ref</th>
                                            <th>Amount collected</th>
                                            <th>Payment_completed</th>
                                            <th>Due date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if object_list %}
                                            {% for object in object_list %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{object.trx_reference|upper}}</td>
                                                <td>{% if object.transaction_type.transaction_type|lower == 'debit' %}-{% endif %}
                                                    ${{object.amount}}</td>
                                                <td>
                                                    {% if object.get_origin_status == 'Completed' %}
                                                        <span class="badge bg-success-subtle text-success py-1 rounded-3 border border-success">Completed</span>
                                                    {% elif object.get_origin_status == 'Failed' %}
                                                        <span class="badge bg-danger-subtle text-danger py-1 rounded-3 border border-danger">Failed</span>
                                                    {% elif object.get_origin_status == 'Pending' %}
                                                        <span class="badge bg-warning-subtle text-warning py-1 rounded-3 border border-warning">Pending</span>
                                                    {% else %}
                                                        {% if object.trx_status|title == 'Completed' %}
                                                        <span class="badge bg-success-subtle text-success py-1 rounded-3 border border-success">Completed</span>
                                                        {% elif object.trx_status|title == 'Failed' %}
                                                        <span class="badge bg-danger-subtle text-danger py-1 rounded-3 border border-danger">Failed</span>
                                                        {% elif object.trx_status|title == 'Pending' %}
                                                        <span class="badge bg-warning-subtle text-warning py-1 rounded-3 border border-warning">Pending</span>
                                                        {% else %}
                                                            <span class="badge bg-info-subtle text-info py-1 rounded-3 border border-info">N/A</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>{{object.transaction_type}}</td>
                                                <td>{{object.transaction_method}}</td>
                                                <td>{{object.timestamp}}</td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            {% include 'partials/backend/empty_list.html' %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--End row-->
        </div><!--End container-fluid-->
    </main><!--End app-wrapper-->
{% endblock content %}