{% extends "base_auth.html" %}
{% load static %}

{% block head %}
  {% include "partials/backend/head.html" %}
{% endblock head %}
{% block title %} Sign-In {% endblock %}
{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100 pt-20 pb-10">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      {% include "partials/backend/messages.html" %}
      <div class="card mx-xxl-8 shadow-none">
        <div class="card-body p-8 text-center">
          <div class="mb-6">
            <h3 class="fw-medium">You've been signed out</h3>
            <p class="text-muted">Thanks for visiting! You can sign in again anytime.</p>
          </div>
          <div class="mb-4">
            <img src="/static/backend/assets/images/auth/signout.png" alt="Signed out illustration" class="img-fluid w-256px">
          </div>
          <div class="d-grid gap-4">
            <a href="{% url "auth:login" %}" class="btn btn-primary w-100">Sign In Again</a>
            <a href="{% url "landing:home" %}" class="btn btn-outline-light w-100 text-muted"><i class="ri-home-4-line me-2"></i>Back
              to Homepage</a>
          </div>
        </div>
      </div>
      <p class="position-relative text-center fs-13 mb-0">©
        <script>document.write(new Date().getFullYear())</script> {{app_name}}
      </p>
    </div>
  </div>
</div>

{% endblock content %}