{% extends 'base.html' %}
{% load static %}
{% block title %} About-Us {% endblock title %}
{% block head %} {% include 'partials/frontend/head.html' %} {% endblock head %}
{% block body %}

  {% include "partials/frontend/preloader.html" %}

  <!-- ======= Site Wrap =======-->
  <div class="site-wrap">

    <!-- ======= Header =======-->
    {% include "partials/frontend/nav.html" %}
    <!-- End Header-->

    <!-- ======= Main =======-->
    <main>

      <!-- ======= About =======-->
      <section class="about__v4 section" id="about">
        <div class="container mt-5">
          <div class="row mt-5">
            <div class="col-md-6 order-md-2">
              <div class="row justify-content-end">
                <div class="col-md-11 mb-4 mb-md-0"><span class="subtitle text-uppercase mb-3" data-aos="fade-up" data-aos-delay="0">About us</span>
                  <h2 class="mb-4" data-aos="fade-up" data-aos-delay="100">Empowering Financial Growth with Innovation and Trust</h2>
                  <div data-aos="fade-up" data-aos-delay="200">
                    <p>At {{app_name}}, we believe that modern banking should be seamless, secure, and personalized. With a focus on technology and transparency, we provide a full suite of financial solutions that help individuals and businesses take control of their finances—from personal banking and mortgage loans to digital asset deposits.</p>
                    <p>We are more than a financial institution—we are your partner in progress. Our platform is built to support your goals at every stage, with responsive support, automated tools, and easy-to-use features that simplify your financial life while ensuring your money is always safe and accessible.</p>
                  </div>
                  <h4 class="small fw-bold mt-4 mb-3" data-aos="fade-up" data-aos-delay="300">Key Values and Vision</h4>
                  <ul class="d-flex flex-row flex-wrap list-unstyled gap-3 features" data-aos="fade-up" data-aos-delay="400">
                    <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Innovation</span></li>
                    <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Security</span></li>
                    <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Excellence </span></li>
                    <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Transparency</span></li>
                    <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Customer-Centricity</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-wrap position-relative"><img class="img-fluid rounded-4" src="{% static 'frontend/images/hero-bg-1-min.jpg' %}" alt="Arc-trustPay image placeholder" data-aos="fade-up" data-aos-delay="0">
                <div class="mission-statement p-4 rounded-4 d-flex gap-4" data-aos="fade-up" data-aos-delay="100">
                  <div class="mission-icon text-center rounded-circle"><i class="bi bi-lightbulb fs-4"></i></div>
                  <div>
                    <h3 class="text-uppercase fw-bold">Mission Statement</h3>
                    <p class="fs-5 mb-0">To build a trusted and inclusive digital banking platform that empowers individuals and businesses to manage, grow, and secure their financial future with confidence.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About-->

      <!-- ======= Pricing =======-->
        {% include "partials/frontend/how_it_works.html" %}
      <!-- End Pricing-->

      <!-- ======= Services =======-->
        {% include "partials/frontend/service.html" %}
      <!-- Services-->

       <!-- ======= FAQ =======-->
      {% include "partials/frontend/faq.html" %}
      <!-- End FAQ-->

      <!-- ======= Footer =======-->
      {% include "partials/frontend/footer.html" %}
      <!-- End Footer-->

    </main>

  </div>

  <!-- ======= Back to Top =======-->
  {% include "partials/frontend/scroll-top.html" %}
  <!-- End Back to top-->
  <!-- Start Script -->
  {% include "partials/frontend/script.html" %}
  <!-- End Script -->

{% endblock body %}