<header class="px-3 px-md-8 py-5 position-absolute top-0 d-flex justify-content-between align-items-center w-100 z-1">
  <a href="{% url "landing:home" %}" class="d-flex align-items-end logo-main">
    <img height="35" class="logo-dark" alt="Dark Logo" src="/static/frontend/images/logo-big.svg">
    <h3 class="text-body-emphasis fw-bolder mb-0 ms-1"></h3>
  </a>
  <ul class="list-inline mb-0">
    <li class="list-inline-item pe-4 border-end"><a href="{% url "landing:home" %}" class="link-body-emphasis">Home</a></li>
    <li class="list-inline-item pe-4 border-end"><a href="{% url "landing:about" %}" class="link-body-emphasis">About</a></li>
    <li class="list-inline-item pe-4 border-end"><a href="{% url "landing:services" %}" class="link-body-emphasis">Services</a></li>
    <li class="list-inline-item"><a href="{% url "landing:contact" %}" class="link-body-emphasis">Contact</a></li>
    <li class="list-inline-item"><div class="nav-link float-right" id="google_translate_element"></div></li>
  </ul>
</header>
