{% load static %}
<script src="/static/backend/assets/libs/swiper/swiper-bundle.min.js"></script>
<script src="/static/backend/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/backend/assets/libs/simplebar/simplebar.js"></script>
<script src="/static/backend/assets/js/scroll-top.init.js"></script>
<script src="/static/backend/assets/libs/gridjs/gridjs.umd.js" type="text/javascript"></script>
<script src="/static/backend/assets/libs/apexcharts/apexcharts.min.js"></script>
<!-- File js -->
<script src="/static/backend/assets/js/dashboard/e-commerce.init.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'frontend/js/loader.js' %}"></script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

        $("#remove").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 10000);
</script>
<!-- App js -->
<script type="module" src="/static/backend/assets/js/app.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="/static/backend/assets/js/auth/auth.init.js"></script>
<script type="module" src="/static/backend/assets/js/ui/modal.init.js"></script>
