{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta content="{{app_name}} - Financial service" name="description" />
<meta content="{{app_name}}" name="author" />

<!-- layout setup -->
<script type="module" src="/static/backend/assets/js/layout-setup.js"></script>

<!-- App favicon -->
<link rel="shortcut icon" href="/static/frontend/images/logo-small.svg">
<link rel="stylesheet" href="/static/backend/assets/libs/gridjs/theme/mermaid.min.css">
<!-- Simplebar Css -->
<link rel="stylesheet" href="/static/backend/assets/libs/simplebar/simplebar.min.css">
<!-- Swiper Css -->
<link href="/static/backend/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet">
<!-- Nouislider Css -->
<link href="/static/backend/assets/libs/nouislider/nouislider.min.css" rel="stylesheet">
<!-- Bootstrap Css -->
<link href="/static/backend/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">

<!--icons css-->
<link href="/static/backend/assets/css/icons.min.css" rel="stylesheet" type="text/css">
<!-- App Css-->
<link href="/static/backend/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">
<link href="/static/backend/assets/css/check.css" id="app-style" rel="stylesheet" type="text/css">
<link href="{% static 'frontend/css/loader.css' %}" rel="stylesheet">
<style>
    .asteriskField {
        color: red;
        padding-left: 4px;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js" integrity="sha384-t4DxZSyQK+0Uv4jzy5B0QyHyWQD2GFURUmxKMBVww9+e2EJ0ei/vCvv7+79z0fkr" crossorigin="anonymous"></script>

<script src="//code.jivosite.com/widget/BD6jmIjGkn" async></script>
