{% load static %}
<section class="section faq__v2" id="faq">
    <div class="container">
        <div class="row mb-4">
        <div class="col-md-6 col-lg-7 mx-auto text-center"><span class="subtitle text-uppercase mb-3" data-aos="fade-up" data-aos-delay="0">FAQ</span>
            <h2 class="h2 fw-bold mb-3" data-aos="fade-up" data-aos-delay="0">Frequently Asked Questions</h2>
            <p data-aos="fade-up" data-aos-delay="100">Utilize our tools to develop your concepts and bring your vision to life. Once complete, effortlessly share your creations.</p>
        </div>
        </div>
        <div class="row">
        <div class="col-md-8 mx-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="faq-content">
            <div class="accordion custom-accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"> How do I open a new account on {{app_name}}? </button>
                </h2>
                <div class="accordion-collapse collapse show" id="panelsStayOpen-collapseOne">
                    <div class="accordion-body"> To open a new account, click on the “Sign Up” button on our homepage and follow the step-by-step registration process. Youll need to provide some personal details.</div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"> How secure is my online banking information? </button>
                </h2>
                <div class="accordion-collapse collapse" id="panelsStayOpen-collapseTwo">
                    <div class="accordion-body">Your data is protected with advanced encryption, and continuous security monitoring to ensure your information stays safe at all times.</div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"> Can I transfer funds internationally? </button>
                </h2>
                <div class="accordion-collapse collapse" id="panelsStayOpen-collapseThree">
                    <div class="accordion-body">Yes. {{app_name}} allows international money transfers. Make sure to input the correct SWIFT/BIC code and the recipient's banking details.</div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">  How do I apply for a mortgage?</button>
                </h2>
                <div class="accordion-collapse collapse" id="panelsStayOpen-collapseFour">
                    <div class="accordion-body">Log into your account, go to the Mortgage section, and complete the application form. You'll need to provide financial documents like credit reports and proof of income.</div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive"> What should I do if I forget my login details? </button>
                </h2>
                <div class="accordion-collapse collapse" id="panelsStayOpen-collapseFive">
                    <div class="accordion-body">Click the “Forgot Password?” link on the login page to reset your password via email verification.</div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- End FAQ-->
</section>