{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- ======= Google Font =======-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;display=swap" rel="stylesheet">
<!-- End Google Font-->
<link rel="shortcut icon" href="/static/frontend/images/logo-small.svg">

<!-- ======= Styles =======-->
<link href="{% static 'frontend/vendors/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/vendors/bootstrap-icons/font/bootstrap-icons.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/vendors/glightbox/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/vendors/aos/aos.css' %}" rel="stylesheet">
<!-- End Styles-->

<!-- ======= Theme Style =======-->
<link href="{% static 'frontend/css/loader.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
<!-- End Theme Style-->
<script src="//code.jivosite.com/widget/BD6jmIjGkn" async></script>

